/* tansform, transition, animation: */

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background-color: red;
  transform: skewX(40deg);
}

.two {
  background-color: green;
  transform: skewY(40deg);
}

.three {
  background-color: blue;
  transform: skew(10deg, 20deg);
}
