/* tansform, transition, animation: */

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background-color: red;
}

.two {
  background-color: green;
  transform: rotate();
}

.three {
  background-color: blue;
  transform: rotateX(180deg);
}
